.catalogo-ropa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto {
    width: 300px;
    margin: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.producto img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.descripcion {
    padding: 10px;
}

.descripcion h3 {
    margin: 0;
    font-size: 1.2rem;
}

.descripcion p {
    margin: 5px 0;
}

.precio {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: right;
}